h1 {

    font-size: 52pt;

}
.header-container {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 15px;
    padding: 2px;
            
}

header {

    display: flex;
    align-items: center;
}

