@font-face {

    font-family: 'Thorup Sans';
    src:url(../Fonts/Thorup\ Sans.ttf);

}

body {

    font-family: 'Thorup Sans';
}

.to-do-form-container {

    border: 1px solid black;
    padding: 10px;
    border-radius: 12px;
    margin-bottom:100%;
}

.to-do-container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
  
}

.to-do-error {

    font-size: 24pt;
    color: red;
    border: 1px solid red;
    border-radius: 10px;
    padding-top: 5px;
    font-weight: bold;

}

h2 {

    font-size: 32pt;
    
}

.to-do-container form {

    display: flex;
    gap: 2%;
    justify-content: center;
 
}

.to-do-container button {

    width: 100px;
    height: 40px;
    color: white;
    background-color: black;
    border: none;
    font-size: 24pt;
    font-family: 'Thorup Sans';
    text-align:center;
    padding-top:7px;
    border-radius: 12px;
    cursor: pointer;
}

.to-do-input {

    width: 320px;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 24pt;
    font-family: 'Thorup Sans';
    text-indent: 10px;
    margin-left: -35px;

}

.add-to-do-button {

    margin-right: -25px;

}

.to-do-list {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    min-width: 455px;
    min-height:50px;
    font-size: 24pt;
    

}

.todo-row {

    margin-top: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 12px;

}

.checkbox {

    margin-right: 20px;
    margin-left: 10px;

}

.list-buttons {
    
    display: block;
    margin-top: 10px;
    
}

#right-align-button {

    margin-left: 225px;

}

#left-align-button {

    margin-left: 9px;

}

#save-button {

    margin-left: 9px;

}

#edit-text-input {

    font-size: 24pt;
    border: 1px solid black;
    border-radius: 12px;
    font-family: 'Thorup Sans';
    text-indent: 10px;

}

span {

    font-size: 24pt;

}
#view-completed-to-dos {

    margin-top:10px;
    

}

.completed-to-do-table {

    font-size: 32pt;
    width: 50%;
    border-width: 10%;
    border-spacing: 20px;
    
}

.completed-to-do-table th {

    background-color: black;
    color: white;
    border-radius: 15px;
    padding-top:5px;
    
}

.completed-to-do-list-table-container {

    display: flex;
    justify-content: center;
    margin-top: 20px;

}
